{% import "_includes/forms" as forms %}

{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "retour/css/Retour.css" %}
{% includeJsResource "retour/js/Retour.js" %}

{% set title = craft.retour.getPluginName() %}

{% set fullPageForm = true %}

{% set docsUrl = "https://github.com/nystudio107/retour/blob/master/README.md" %}

{% set retourSections = {
    redirects:      { label: "Redirects"|t, url: url('retour/redirects') },
    statistics:     { label: "Statistics"|t, url: url('retour/statistics') },
    settings:       { label: "Settings"|t, url: url('retour/settings') },
} %}

{% set crumbs = [
    { label: craft.retour.getPluginName(), url: url('retour') },
    { label: "Settings"|t, url: url('retour/settings') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = retourSections %}
    {% set selectedTab = 'settings' %}
{% else %}
    {% set subnav = retourSections %}
    {% set selectedSubnavItem = 'settings' %}
{% endif %}

{% set content %}

<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    <form id="settings-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="retour/settings">
    {% endif %}

    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="redirect" value="retour/settings" />
    <input type="hidden" name="pluginClass" value="Retour">
    {{ getCsrfInput() }}

<!-- Settings -->

    {{ forms.textField({
        label: "Plugin Name"|t,
        instructions: "The plugin name as you'd like it to be displayed in the AdminCP."|t,
        id: 'pluginNameOverride',
        name: 'settings[pluginNameOverride]',
        value: settings.pluginNameOverride,
        autofocus: true,
        first: true,
    }) }}

<!-- Needed for for Craft < 2.5 -->

        {% if craft.app.version < 2.5 %}
        <div class="item" data-position="left" data-colspan="1">
            <div class="buttons">
                <div class="btngroup submit first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                </div>
            </div>
        </div>
        {% endif %}


<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    </form>
    {% endif %}

{% endset %}
